---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	<--heroImage="/trying.jpg"-->
	<p>
		Hey there! 
	</p>
	<p>
		I'm Lucas, born in December/95. 
		
	<p>
		The purpose of this blog mostly to learn something and force me to post projects here every now and then.
	</p>
	<p>
		Since I'm a data enthusiast, game-dev aspirant and a soon-to-be programmer, you can expect most of the posts to be about it.
	</p>
	<p>
		The most accurate way to describe me is "a jack of all trades, master of none".
		I'm not an expert on anything (maybe on excel?) but I'm trying to learn something new every day.
	</p>
	<p>
		That being said, please feel free to correct me if I'm wrong or suggest improvements/changes!
	</p>

</Layout>
