---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RecentPublications from "../components/RecentPublications.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-md mx-auto my-4 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="px-4 md:px-16 flex flex-col gap-4 md:my-10">
        <h1 class="text-2xl md:text-4xl w-full">Well, hello there!</h1>
        <p>
          I'm happy that you, somehow, stumbled upon my piece on the internet.
        </p>
        <p>
          Most of the publications will be about my gaming/data/programming projects.
        </p>
        <p>
          Enjoy the content and feel free to reach out to me on linkedin!
        </p>
      </div>
      <div class="w-full flex flex-col items-center gap-2.5 px-4 lg:px-0 mt-6">
        <img
          src="/trying.jpg"
          alt="Astronaut"
        />
        <p class="italic text-xs text-gray-600 dark:text-neutral-400">
          Me, doing this blog
        </p>
      </div>
	  <RecentPublications />
	      </main>
    <Footer />
  </body>
</html>

